.gsf-page-width {
    display: flex;
    overflow: hidden;
}
.gsf-hp-main-content {
}


.gsf-hp-main-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
	padding: 30px 0;
    box-sizing: border-box;

}
.gsf-hp-main-content * {
    box-sizing: border-box;
}
.gsf-steps-main-wrapper {
    width: 100%;
}
.gsf-homepage-section-title{
    display: flex;
    align-items: center;
    color: #1d3b55;
}
.gsf-homepage-cnc-steps-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0!important;
    background: #fff!important;
}

.gsf-homepage-cnc-steps-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gsf-homepage-headline {
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: left;
    color: #1d3b55;
    width: 100%;
}

/*span.gsf-homepage-headline-text {*/
/*    margin-bottom: 20px;*/
/*}*/

br.gsf-homepage-break-mobile {
    display: none;
}

.gsf-homepage-cnc-steps-items {
    display: flex;
    justify-content: center;
    padding: 0!important;
}

.gsf-homepage-cnc-steps-item {
    border: 1px solid #64b03d;
    padding: 10px 10px 10px 0;
    display: flex;
    border-radius: 3px;
    background: #fbfffa!important;
    width: 100%!important;
}

.gsf-homepage-cnc-steps-item:not(:last-child) {
    margin-right: 10px;
}


.gsf-homepage-cnc-steps-item {
    border: 1px solid #64b03d;
    padding: 10px 10px 10px 0;
    display: flex;
    border-radius: 3px;
    background: #fbfffa!important;
    width: 100%!important;
}

.gsf-homepage-cnc-steps-item:not(:last-child) {
    margin-right: 10px;
}

.gsf-homepage-cnc-steps-item-icon-container {
    display: flex;
    justify-content: center;
}

.gsf-homepage-cnc-steps-item-title-container {
    flex: 1;
}

i.gsf-homepage-cnc-steps-item-icon {
    color: #1d3b55;
}

span.gsf-homepage-cnc-steps-item-title {
    font-weight: 700;
    text-align: left;
    color: #1d3b55;
}

.gsf-homepage-cnc-steps-item-subtitle-div {
    margin-top: 5px;
}

span.gsf-homepage-cnc-steps-item-subtitle {
    font-weight: 400;
    text-align: left;
    color: #1d3b55;
    display: inline-block;
}


/*POPULAR PART TYPES*/
.gsf-homepage-popular-part-parent-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /*margin-top: 20px;*/
}

/*.gsf-homepage-popular-part-header-wrapper {*/
/*    display: flex;*/
/*}*/

/*span.gsf-homepage-popular-part-header {*/
/*    font-weight: 700;*/
/*    font-size: 20px;*/
/*    line-height: 25px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #1d3a57;*/
/*}*/

.gsf-homepage-popular-part-list-wrapper {
    display: flex;
}

a.gsf-homepage-popular-part-wrapper:not(:last-child) {
    margin-right: 10px;
}

a.gsf-homepage-popular-part-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    flex: 1;
}

.gsf-homepage-popular-part-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    box-sizing: border-box;
}

img.gsf-homepage-popular-part-image {
    max-width: 80px;
    width: 100%;
}

.gsf-homepage-popular-part-name-wrapper {
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d3a57;
}






/*FEATURED PRODUCTS*/
.gsf-homepage-latest-offer-parent-wrapper {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 30px;*/
    box-sizing: border-box;
}
a.gsf-homepage-product-wrapper {
    display: flex!important;
    border: 1px solid #e2e2e2;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}

.gsf-homepage-image-wrapper {
    width: 100px;
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 7px;
}
.gsf-homepage-image-wrapper > img{
	height: 100%;
}

.gsf-homepage-product-info-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    height: 100%;
    justify-content: space-between;
}

.gsf-homepage-product-info-top-wrapper {
    display: flex;
    flex-direction: column;
}

.gsf-homepage-product-type-wrapper {
    padding: 5px;
    width: max-content;
    font-weight: 800;
    font-size: 12px;
    line-height: noraml;
    margin-bottom: 5px;
    font-style: italic;
    text-transform: uppercase;
}

.gsf-red-badge {
    background: #dd4b3c;
    color: #fff;
}

span.gsf-homepage-product-name {
    font-size: 15px;
    line-height: noraml;
    font-weight: 700;
    color: #243955;
    text-transform: uppercase;
    margin-bottom: 3px;
    white-space: pre-wrap;
}

span.gsf-homepage-product-sku {
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    color: #243955;
    margin-bottom: 3px;
}

span.gsf-homepage-product-price {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #243955;
    margin-bottom: 5px;
}

.gsf-homepage-view-product-wrapper {
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 15px;
}

span.gsf-homepage-view-product {
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    color: #1d3a57;
}

.gsf-homepage-view-product-wrapper > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 11px;
    color: #1d3a57;
    font-weight: 700;
}



a.gsf-homepage-product-wrapper:hover {
    text-decoration: none;
    border: 1px solid #1D3A57;
}

span.gsf-homepage-product-name:hover {
    text-decoration: underline;
}
a.gsf-homepage-product-wrapper:active {
    border: 1px solid #1D3A57;
    background: #F6FBFF;
}


/*POPULAR BRANDS*/
.gsf-homepage-popular-brand-parent-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.gsf-homepage-popular-brand-list-wrapper {
    display: flex;
}

a.gsf-homepage-popular-brand-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    flex: 1;
}

a.gsf-homepage-popular-brand-wrapper:not(:last-child) {
    margin-right: 10px;
}

.gsf-homepage-popular-brand-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    box-sizing: border-box;
    padding: 10px;
}

.gsf-homepage-popular-brand-name-wrapper {
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d3a57;
}


/*FEATURED CATEGORIES*/
.gsf-homepage-featured-cat-parent-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.gsf-homepage-featured-category-list-wrapper {
    display: flex;
}

a.gsf-homepage-featured-category-wrapper:not(:last-child) {
    margin-right: 10px;
}

a.gsf-homepage-featured-category-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.gsf-homepage-featured-category-image-wrapper {
    display: flex;
}

.gsf-homepage-featured-category-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 15px;
    border: 1px solid #d2d2d2;
    border-radius: 0 0 5px 5px;
    justify-content: space-between;
    flex-grow: 1;
}

.gsf-homepage-featured-category-top-wrapper {
    display: flex;
    flex-direction: column;
}

span.gsf-homepage-featured-category-label {
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #1d3a57;
    margin-bottom: 7px;
}

span.gsf-homepage-category-sub-text {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #4f4f4f;
    margin-bottom: 12px;
}

.gsf-homepage-featured-category-shop-now-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    padding-right: 15px;
}

span.gsf-homepage-shop-now-label {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1d3a57;
}

.gsf-homepage-featured-category-shop-now-wrapper > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 11px;
    color: #1d3a57;
    font-weight: 700;
}
a.gsf-homepage-featured-category-wrapper:hover {
    text-decoration: none;
}
a.gsf-homepage-featured-category-wrapper:active {
    text-decoration: none;
}
a.gsf-homepage-featured-category-wrapper:hover .gsf-homepage-featured-category-image-wrapper {
    border: 1px solid #1D3A57;
    border-bottom: 0;
}

a.gsf-homepage-featured-category-wrapper:hover .gsf-homepage-featured-category-info-wrapper {
    border: 1px solid #1D3A57;
    border-top: 0;
}


a.gsf-homepage-featured-category-wrapper:active .gsf-homepage-featured-category-info-wrapper {
    border: 1px solid #1D3A57;
    background: #F6FBFF;
    border-top: 0;
}



/*READ ALL ABOUT IT*/
.gsf-homepage-read-section-parent-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.gsf-homepage-read-section-list-wrapper {
    display: flex;
}

a.gsf-homepage-read-section-wrapper:not(:last-child) {
    margin-right: 10px;
}

a.gsf-homepage-read-section-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.gsf-homepage-read-section-image-wrapper {
    display: flex;
}

.gsf-homepage-read-section-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 15px;
    border: 1px solid #d2d2d2;
    border-top: unset;
    border-radius: 0 0 5px 5px;
    justify-content: space-between;
    flex-grow: 1;
}

.gsf-homepage-read-section-top-wrapper {
    display: flex;
    flex-direction: column;
}

span.gsf-homepage-read-section-label {
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #1d3a57;
    margin-bottom: 7px;
}

.gsf-homepage-read-section-shop-now-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    padding-right: 15px;
}

span.gsf-homepage-learn-more-label {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1d3a57;
}

.gsf-homepage-read-section-shop-now-wrapper > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 11px;
    color: #1d3a57;
    font-weight: 700;
}
a.gsf-homepage-read-section-wrapper:hover {
    text-decoration: none;
}
.gsf-homepage-read-section-learn-more-wrapper > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 11px;
    color: #1d3a57;
    font-weight: 700;
}

.gsf-homepage-read-section-learn-more-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    padding-right: 15px;
}

a.gsf-homepage-read-section-wrapper:hover {
    text-decoration: none;
}
a.gsf-homepage-read-section-wrapper:active {
    text-decoration: none;
}
a.gsf-homepage-read-section-wrapper:hover .gsf-homepage-read-section-image-wrapper {
    border: 1px solid #1D3A57;
    border-bottom: 0;
}

a.gsf-homepage-read-section-wrapper:hover .gsf-homepage-read-section-info-wrapper {
    border: 1px solid #1D3A57;
    border-top: 0;
}


a.gsf-homepage-read-section-wrapper:active .gsf-homepage-read-section-info-wrapper {
    border: 1px solid #1D3A57;
    background: #F6FBFF;
    border-top: 0;
}


/*CUSTOMERS REVIEW*/
.gsf-homepage-cust-think-full-content-parent-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.gsf-homepage-cust-think-parent-wrapper {
    display: flex;
    align-items: center;
}

.gsf-homepage-cust-think-rating-parent-wrapper {
    width: 280px;
    display: flex;
    justify-content: flex-start;
}

.gsf-homepage-cust-think-user-review-wrapper {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    background: #FCFFFA;
    border: 1px solid #64B03D;
    border-radius: 3px;
    width: auto !important;
    padding: 16px 16px 20px;
    height: 100%;
    box-sizing: border-box;
}
.gsf-homepage-cust-think-user-review-main-parent-wrapper {
    width: calc(100% - 280px);
}
.gsf-homepage-cust-think-user-review-parent-wrapper {
    /*display: flex;*/
    /*width: calc(100% - 280px);*/
    width: 100%;
}

.gsf-homepage-cust-think-top-section-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.gsf-homepage-cust-think-user-name-rating-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

span.gsf-homepage-cust-think-user-name-wrapper {
    font-weight: 700;
    font-size: 15px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #1D3B55;
}

.gsf-homepage-cust-think-user-rating-wrapper {
    display: flex;
    margin-left: 10px;
}

.gsf-homepage-cust-think-user-rating-wrapper > i {
    color: #64B03D;
}

.gsf-homepage-cust-think-user-review-comment-wrapper {
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #1D3B55;
}

.gsf-homepage-cust-think-bottom-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gsf-homepage-cust-think-verified-review-wrapper {
    display: flex;
    align-items: center;
}

span.gsf-homepage-cust-think-verified-review {
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #1D3B55;
    margin-right: 5px;
}

.gsf-homepage-cust-think-verified-review-wrapper > i {
    color: #64B03D;
}

.gsf-homepage-cust-think-user-reviews-io-logo-wrapper {
    width: 95px;
    opacity: 0.3;
}
.gsf-homepage-cust-think-rating-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 13px;
    width: max-content;
}

.gsf-homepage-cust-think-excellent-wrapper {
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1D3B55;
    margin-bottom: 10px;
}

.gsf-homepage-cust-think-star-wrapper {
    margin-bottom: 10px;
}

.gsf-homepage-cust-think-star-wrapper > i {
    font-size: 25px;
    color: #64B03D;
}

.gsf-homepage-cust-think-rate-wrapper {
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    display: block;
    align-items: center;
    color: #1D3B55;
    text-align: center;
    margin-bottom: 10px;
    white-space: nowrap;
}

.gsf-homepage-cust-think-reviews-io-wrapper {
    width: 95px;
    height: max-content;
    display: flex;
}

/*CUSTOMER THINK SKELTON START*/
.gsf-homepage-cust-think-user-review-skeleton-wrapper {
    display: flex;
    align-items: center;
    /*height: 100%;*/
    height: 250px;
    width: 100%;
}

.gsf-homepage-cust-think-skeleton-user-review-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FCFFFA;
    border: 1px solid #64B03D;
    border-radius: 3px;
    /* width: auto !important; */
    padding: 16px 16px 20px;
    height: 100%;
    box-sizing: border-box;
    width: 50%;
}

.gsf-homepage-cust-think-skeleton-user-review-wrapper:first-child {
    margin-right: 10px;
}

.gsf-homepage-cust-think-skeleton-user-review-wrapper > div {
    display: flex;
    flex-direction: column;
}

.gsf-homepage-cust-name-loader {
    width: 50%;
    margin-bottom: 10px;
    height: 15px !important;
}

.gsf-homepage-cust-info-one-loader {
    width: 100%;
    margin-bottom: 5px;
    height: 15px !important;

}

.gsf-homepage-cust-info-two-loader {
    width: 70%;
    margin-bottom: 5px;
    height: 15px !important;

}

.gsf-homepage-cust-info-three-loader {
    width: 60%;
    margin-bottom: 5px;
    height: 15px !important;

}

.gsf-homepage-cust-info-four-loader {
    width: 50%;
    margin-bottom: 5px;
    height: 15px !important;
}

.gsf-homepage-cust-verified-loader {
    width: 40%;

}
/*CUSTOMER THINK SKELTON END*/

.customers-review-main-wrapper:not(.gsf-homepage-show-content) .gsf-homepage-cust-think-user-review-main-parent-wrapper{
	position: relative;
}
.customers-review-main-wrapper:not(.gsf-homepage-show-content) .gsf-homepage-cust-think-user-review-parent-wrapper{
	opacity: 0;
	z-index: -1;
	position: absolute;
	width: 100%;
	/*display: none;*/
}
.customers-review-main-wrapper.gsf-homepage-show-content .gsf-homepage-cust-think-user-review-skeleton-wrapper{
	opacity: 0;
	display: none;
}






.gsf-homepage-cust-think-arrow-counter-wrapper {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;
    margin-top: 15px;
}

.gsf-slider-arrow {
    display: flex;
    width: max-content;
    border: 1px solid #ececec;
    border-radius: 55px;
    padding: 3px 6px 3px;
    cursor: pointer;
    margin-left: 7px;
}
.gsf-slider-arrow:hover {
    border: 1px solid #A6B3C0;
    background: #FDFDFD;
}

.gsf-slider-arrow:active {
    border: 1px solid #A6B3C0;
    background: #F6FBFF;
}
.gsf-slider-arrow > span {
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #1d3a57;
    position: relative;
    display: block;
}
.gsf-rvp-next>span {
    padding-right: 12px;
}
.gsf-rvp-prev>span {
    padding-left: 12px;
}
.gsf-slider-arrow > span::after {
    content: '\f054';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 6 pro';
    font-weight: 400;
    line-height: 0;
}
.gsf-rvp-prev>span::after {
    left: 0;
    content: '\f053';
}
.gsf-rvp-next>span::after {
    right: 0;
}
.slick-counter {
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #898989;
}

.gsf-homepage-cust-think-user-review-parent-wrapper .slick-list{
    margin: 0 -5px;
}
.gsf-homepage-cust-think-user-review-parent-wrapper.slick-initialized.slick-slider .slick-track {
    height: 100%;
    display: flex;
}
.gsf-homepage-cust-think-user-review-parent-wrapper.slick-initialized.slick-slider .slick-slide {
    margin: 0 5px;
    height: auto;
    box-sizing: border-box;
}
.gsf-homepage-cust-think-user-review-parent-wrapper .slick-slide>div {
    width: 100%;
    height: 100%;
}
.slick-arrow.slick-disabled {
    display: none!important;
}

.homepage-content-wrapper > div{
	display: flex;
	justify-content: center;
}

a.gsf-homepage-popular-part-wrapper:hover {
    border-radius: 2px;
    border: 1px solid #1D3A57;
    text-decoration: none;
}

span.gsf-homepage-popular-part-name:hover {
    text-decoration: underline;
}

a.gsf-homepage-popular-part-wrapper:active {
    background: #F6FBFF;
}
span.gsf-homepage-view-product:hover {
    text-decoration: underline;
}







.gsfRvp-recent-products-main-wrapper {
    display: flex;
    flex-direction: column;
}

.gsfRvp-recent-products-container {
    display: flex;
        width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gsfRvp-recent-product {
    display: flex !important;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    height: 100%;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}
.gsfRvp-recent-product:hover  span.gsfRvp-recent-product-name {
    text-decoration: underline;
}
.gsfRvp-recent-product-image-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 7px;
}

.gsfRvp-product-info {
    display: flex;
    flex-direction: column;
}

.gsfRvp-recent-product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/*.gsfRvp-recent-product:not(:first-child) {*/
/*    margin-left: 10px;*/
/*}*/
.gsfRvp-recent-products-main-wrapper button.action.tocart.primary {
    background: #3b8624;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    align-items: center;
    height: 40px;
    border: none;
    width: 100%;
}

.gsfRvp-recent-products-main-wrapper button.action.tocart.primary > span {
    font-weight: 800;
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
}

span.gsfRvp-recent-product-name {
    font-weight: 700;
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    color: #243955;
    margin-bottom: 3px;
}

span.gsfRvp-recent-product-part-number {
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    color: #243955;
    margin-bottom: 3px;
}

span.gsfRvp-recent-product-price {
    font-weight: 800;
    font-size: 24px;
    line-height: normal;
    color: #dd4b3c;
}
.gsfRvp-recent-products-container .slick-list.draggable {
    margin: 0 -5px;
    display: flex;
    width: auto;
}

.gsfRvp-recent-products-container .slick-track {
    display: flex!important;
    margin-left: 0!important;
    margin-right: auto!important;
}

.gsfRvp-recent-products-container.slick-initialized .slick-slide {
    margin: 0 5px;
    display: flex!important;
    flex-grow: 1;
}

.gsfRvp-recent-products-container.slick-initialized .slick-slide>div {
    width: 100%;
}


.skeleton-box {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: #ececec;



}



/*RECENTLY VIEWED SKELETON*/
.gsf-recent-skeleton-loader-image.skeleton-box {
    height: 80px;
    min-width: 80px;
    margin-right: 7px;
}

.gsf-recent-skeleton-loader-wrapper {
    display: flex;
}

.gsf-recent-skeleton-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.gsf-recent-skeleton-info-top {
    display: flex;
    flex-direction: column;
}

.gsf-recent-skeleton-info-name.skeleton-box {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
}

.gsf-recent-skeleton-info-sku.skeleton-box {
    width: 40%;
    margin-bottom: 10px;
}

.gsf-recent-skeleton-info-price.skeleton-box {
    width: 20%;
}

.gsf-recent-skeleton-info-cta.skeleton-box {
    height: 40px;
}

.gsf-recent-skeleton-parent-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 175px;
    margin: 0 -5px;
    width: auto;
    margin-bottom: 32px;
}

.gsf-recent-skeleton-parent-wrapper > div {
    margin: 0 5px;
    flex: 1;
    display: flex !important;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    height: 100%;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}

.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: shimmer 2s infinite;
    content: '';
}
div#recentlyViewed {
    display: flex;
    justify-content: center;
}
#recentlyViewed:not(.gsf-homepage-show-content) .gsfRvp-recent-products-main-wrapper{
	position: relative;
}
#recentlyViewed:not(.gsf-homepage-show-content) .gsfRvp-recent-products-container{
	opacity: 0;
	z-index: -1;
	position: absolute;
	width: 100%;
	/*display: none;*/
}
#recentlyViewed.gsf-homepage-show-content .gsf-recent-skeleton-parent-wrapper{
	opacity: 0;
	display: none;
}
.gsfRvp-recent-products-counter-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 15px;
}
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}


.gsf-homepage-info-section-wrapper {
    flex-direction: column;
}

.gsf-homepage-info-section-wrapper > span {
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    color: #4f4f4f;
    margin-bottom: 15px;
}




/*MY GARAGE STARTS*/
.gsf-mgvh-main-parent-wrapper {
  display: flex;
  max-width: 1490px;
  width: 100%;
  width: calc(100% - 120px);
  margin: 0 60px;
  flex-direction: column;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.gsf-my-garage-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}
.gsf-mgvh-main-parent-wrapper * {
  box-sizing: border-box;
}
span.gsf-mgvh-title {
  color: #1D3B55;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.gsf-mgvh-title-wrapper {
  margin-bottom: 10px;
}

.gsf-mgvh-parent-wrapper {
  display: flex;
  flex-direction: column;
}

.gsf-mgvh-vehicle-wrapper {
  display: flex !important;
  border-radius: 3px;
  border: 1px solid #D2D2D2;
  background: #ffffff;
  padding: 10px 20px;
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.gsf-mgvh-vehicle-wrapper > i {
  color: #1D3B55;
  font-size: 17px;
  margin-right: 10px;
  margin-top: 2px;
  display: flex;
  height: max-content;
}

.gsf-mgvh-vehicle-info {
  display: flex;
  flex-direction: column;
  color: #1D3B55;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

span.gsf-mgvh-vehicle-name {
  color: #1D3B55;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
}

span.gsf-mgvh-find-parts {
  color: #1D3A57;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

.gsf-mgvh-find-parts-wrapper > i {
  color: #1D3A57;
  font-size: 12px;
  margin-left: 10px;
}

.gsf-mgvh-find-parts-wrapper {
  display: flex;
  align-items: center;
  height: max-content;
  align-self: center;
  cursor: pointer;
  margin-left: auto;
  padding-left: 10px;
}
.gsf-mgvh-parent-wrapper .slick-track {
  height: 100%;
  display: flex;
}

.gsf-mgvh-parent-wrapper .slick-slide {
  margin: 0 5px;
  height: auto;
}
.gsf-mgvh-parent-wrapper .slick-list{
  margin: 0 -5px;
}

.gsf-mgvh-parent-wrapper .slick-slide > div {
  height: 100%;
}

.gsf-mgvh-arrow-counter-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 10px;
}

.gsf-mgvh-counter {
  margin-left: 10px;
  color: #898989;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}



.gsf-mgvh-arrow-counter-wrapper .gsf-rvp-next {
  margin-left: 10px;
}

.gsf-mgvh-arrow-counter-wrapper .gsf-rvp-prev {
  order: -1;
}





.gsf-mgvh-parent-loader-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gsf-mgvh-vehicle-loader-wrapper.skeleton-loader {
  padding: 10px 20px;
  display: flex;
  border-radius: 3px;
  border: 1px solid #D2D2D2;
  background-color: #fff;
}

.gsf-mgvh-vehicle-loader-wrapper.skeleton-loader > i {
  font-size: 17px;
}

.gsf-mgvh-vehicle-loader-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.gsf-mgvh-find-parts-loader-wrapper {
  width: 20%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

span.gsf-mgvh-find-loader-parts.skeleton-box {
  width: 100%;
}
span.gsf-mgvh-vehicle-loader-name.skeleton-box {
  height: 18px;
  margin-bottom: 20px;
  width: 70%;
}

span.gsf-mgvh-vehicle-loader-info-wrapper-sub.skeleton-box {
  width: 40%;
  margin-top: 10px;
}

.gsf-mgvh-main-parent-wrapper.gsf-mgvh-show-content .gsf-mgvh-parent-loader-wrapper{
  display: none;
}
.gsf-mgvh-main-parent-wrapper:not(.gsf-mgvh-show-content){
  position: relative;
}
.gsf-mgvh-main-parent-wrapper:not(.gsf-mgvh-show-content) .gsf-mgvh-parent-wrapper{
   display: none; 
  opacity: 0;
  position: absolute;
  z-index: -1;
}


.gsf-mgvh-loading-mask {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: 999;
}

body.gsf-mgvh-show-loader .gsf-mgvh-loading-mask{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gsf-mgvh-loading-mask * {
  user-select: none;
}

.gsf-mgvh-add-vehicle-wrapper:hover {
  text-decoration: none;
}
.gsf-mgvh-vehicle-wrapper:hover {
  border: 1px solid #1D3A57;
}

.gsf-mgvh-vehicle-wrapper:active {
  border: 1px solid #1D3A57;
  background: #F6FBFF;
}
.gsf-mgvh-find-parts-wrapper:hover > span {
  text-decoration: underline;
}
.gsf-mgvh-counter-wrapper {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;
    margin-top: 15px;
}

/*.gsf-my-garage-wrapper.gsf-mgvh-show-content .gsf-mgvh-parent-loader-wrapper{*/
/*  display: none;*/
/*}*/
/*.gsf-my-garage-wrapper:not(.gsf-mgvh-show-content){*/
/*  position: relative;*/
/*}*/
/*.gsf-my-garage-wrapper:not(.gsf-mgvh-show-content) .gsf-mgvh-parent-wrapper{*/
  /* display: none; */
  /*opacity: 0;*/
/*  position: absolute;*/
/*  z-index: -1;*/
/*}*/


/*MY GARAGE END*/

@media (min-width: 860px){

	.gsf-page-width {
    max-width: 1490px;
    padding-bottom: 0!important;
    background: #fff!important;
    width: calc(100% - 120px);
    margin-left: 60px;
    margin-right: 60px;
}
.gsf-mgvh-parent-wrapper:not(.slick-initialized){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
.gsf-homepage-read-section-header-wrapper {
    display: flex;
    justify-content: flex-start;
}
a.gsf-homepage-read-section-wrapper {
    flex: 1;
}
	 .gsf-homepage-section-title{
	 	font-weight: 700;
	    font-size: 20px;
	    line-height: normal;
	    margin-bottom: 20px;
	 }
	.gsf-homepage-cnc-steps-items {
    margin-bottom: 35px;
}
.gsf-homepage-cnc-steps-item-icon-container {
    width: 56px;
}
i.gsf-homepage-cnc-steps-item-icon {
    font-size: 19px;
    line-height: normal;
}
span.gsf-homepage-cnc-steps-item-title {
    font-size: 18px;
    line-height: normal;
}
span.gsf-homepage-cnc-steps-item-subtitle {
    font-size: 13px;
    line-height: normal;
}
.gsf-homepage-user-rating-parent-wrapper {
    text-align: center;
}
.gsf-homepage-products-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.gsf-homepage-cnc-steps-headline-container {
    text-align: center;
    margin: 0 15px 20px;
}


.gsf-homepage-cnc-steps-headline-container {
    text-align: center;
    margin: 0 15px 20px;
}

span.gsf-homepage-cnc-steps-headline {
    font-weight: 600;
    font-size: 21px;
    line-height: normal;
    text-align: center;
    color: #1d3b55;
}

span.gsf-homepage-cnc-steps-headline-higlight {
    font-weight: 800;
    text-decoration: underline;
    text-underline-position: from-font;
}

.gsf-homepage-cnc-steps-rating-star-div > i {
    color: #64b03d;
    font-size: 17px;
}

span.gsf-homepage-cnc-steps-rating-message-container {
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    color: #1d3b55;
}

span.gsf-homepage-cnc-steps-rating-message-bold {
    font-weight: 800;
}
.gsf-homepage-cust-think-rate-review-mobile-wrapper{
	display: none;
}
a.gsf-homepage-featured-category-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
}
.gsf-recent-skeleton-parent-wrapper > div{
	display: flex;
}
.gsf-homepage-popular-part-name-wrapper{
	font-size: 15px;
}
.gsf-homepage-popular-brand-name-wrapper{
	font-size: 15px;
}



/*MY GARAGE MOBILE START*/
.gsf-mgvh-counter-wrapper{
	display: none;
}
/*MY GARAGE MOBILE END*/
}

@media(min-width: 860px) and (max-width: 1250px){
	.gsf-homepage-popular-part-name-wrapper{
		font-size: 12px;
	}
}

@media (max-width: 1024px){
	.gsf-homepage-popular-part-list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

a.gsf-homepage-popular-part-wrapper {
    margin: 0 !important;
}

/*.gsf-homepage-section-title {*/
/*    width: max-content;*/
/*}*/

.gsf-steps-main-wrapper {
    margin-bottom: 20px;
}

.homepage-content-wrapper > div {
}

.gsf-homepage-featured-category-list-wrapper {
    flex-direction: column;
}

a.gsf-homepage-featured-category-wrapper:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
}
.gsf-homepage-featured-category-image-wrapper {
    background: #4778EC;
    justify-content: center;
}
/*.gsf-homepage-featured-category-image-wrapper > img {*/
/*    height: 90px;*/
/*}*/

a.gsf-homepage-popular-brand-wrapper:not(:last-child) {
    margin: 0;
}

.gsf-homepage-popular-brand-list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.gsf-homepage-popular-brand-image-wrapper {
    width: 100px;
}
.gsf-homepage-read-section-list-wrapper {
    flex-direction: column;
}

a.gsf-homepage-read-section-wrapper:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
}

.gsf-homepage-read-section-image-wrapper {
    background: #4778EC;
    justify-content: center;
}
/*.gsf-homepage-read-section-image-wrapper > img {*/
/*    height: 90px;*/
/*}*/
.gsf-homepage-products-container{
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
}
.gsf-recent-skeleton-parent-wrapper{
	grid-template-columns: repeat(2, 1fr);
}
.gsf-recent-skeleton-parent-wrapper > div:nth-child(3n){
	display: none !important;
}


}

@media (max-width: 860px){
	.gsf-page-width {
    width: 100%;
    padding: 0 10px;
}
.gsf-homepage-popular-part-name-wrapper{
	font-size: 12px;
}
.gsf-homepage-popular-brand-name-wrapper{
	font-size: 12px;
}
.gsf-homepage-section-title {
	display: flex;
	justify-content: center;
    color: #1D3B55;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.gsf-hp-main-content > div:not(:last-child) {
    margin-bottom: 30px;
}
	.gsf-homepage-cust-think-parent-wrapper {
    flex-direction: column;
}
.gsf-homepage-cust-think-user-review-main-parent-wrapper {
    width: 100%;
}
.gsf-homepage-cust-think-user-review-parent-wrapper {
    width: 100%;
}

.gsf-homepage-cust-think-full-content-parent-wrapper {
    width: 100%;
}
.gsf-homepage-cust-think-rating-parent-wrapper {
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

.gsf-homepage-cust-think-rating-wrapper {
    padding: 0;
}

.gsf-homepage-cust-think-rate-review-mobile-wrapper {
    display: none;
}
.gsf-homepage-cnc-steps-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
}
i.gsf-homepage-cnc-steps-item-icon {
    font-size: 16px;
    margin: 0 10px;
}

.gsf-homepage-cnc-steps-items {
    flex-direction: column;
}

.gsf-homepage-user-rating-parent-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.gsf-homepage-cnc-steps-headline-container {
    /*width: max-content;*/
    text-align: center;
    margin-bottom: 10px;
}

.gsf-homepage-cnc-steps-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.gsf-homepage-cnc-steps-headline {
    color: #1D3B55;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

span.gsf-homepage-cnc-steps-headline-higlight {
    font-weight: 800;
    text-decoration: underline;
}

.gsf-homepage-cnc-steps-rating-star-container {
    margin-bottom: 5px;
}

.gsf-homepage-cnc-steps-rating-star-div > i {
    color: #64B03D;
    font-size: 17px;
}

span.gsf-homepage-cnc-steps-rating-message-container {
    color: #1D3B55;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

span.gsf-homepage-cnc-steps-rating-message-bold {
    font-weight: 800;
}
ul.slick-dots > li button {
    width: 9px;
    height: 9px;
    background: #d9d9d9;
}

ul.slick-dots > li.slick-active button {
    background: #676767;
}

ul.slick-dots > li {
    height: 9px;
    width: 9px;
    margin: 0 6px!important;
}

.gsf-homepage-products-container .slick-slide {
    margin: 0 5px;
    height: auto !important;
    box-sizing: border-box;
    flex: 1;
}

.gsf-homepage-products-container .slick-track {
    height: 100%;
    display: flex;
}

.gsf-homepage-products-container .slick-list.draggable {
    margin: 0 -5px;
    /* padding: 0 10px; */
    width: auto;
    flex: 1;
}

a.gsf-homepage-product-wrapper {
    height: 100%;
}

.gsf-homepage-products-container .slick-slide > div {
    width: 100%;
    height: 100%;
}
a.gsf-homepage-featured-category-wrapper{
	height: auto;
}

.gsf-homepage-cust-think-user-review-parent-wrapper.slick-initialized.slick-slider .slick-slide{
	float: unset;
	min-height: 100%;
}
.gsf-homepage-cust-think-user-review-main-parent-wrapper ul.slick-dots{
	position: unset;
	margin-top: 15px;
}
.gsf-homepage-cust-think-arrow-counter-wrapper{
	display: none;
}
.gsf-homepage-cust-think-skeleton-user-review-wrapper:first-child {
    display: none;
}

.gsf-homepage-cust-think-skeleton-user-review-wrapper:last-child {
    width: 100%;
}

.gsf-homepage-cust-verified-loader {
    width: 25%;
}
.gsfRvp-recent-products-counter-wrapper{
	display: none;
}
.gsfRvp-recent-products-container .gsf-slider-arrow{
	display: none;
}
.gsf-recent-skeleton-parent-wrapper{
	grid-template-columns: repeat(1, 1fr);
}
.gsf-recent-skeleton-parent-wrapper > div:nth-child(n + 2){
	display: none !important;
}


  body.gsf-mgvh section.gsf-hvbtinb2-cnc-steps-container{
    box-shadow: unset !important;
  }
  .gsf-mgvh-main-parent-wrapper {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    margin: 0 -10px 0;
    /*background: #F9F9F9 !important;*/
    
}
.gsf-mgvh-parent-wrapper.slick-initialized{
  /* margin: 0 -15px; */
}
.gsf-mgvh-title-wrapper {
  text-align: center;
}
span.gsf-mgvh-title {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.gsf-mgvh-parent-loader-wrapper {
    display: flex;
}

.gsf-mgvh-vehicle-loader-wrapper.skeleton-loader:not(:first-child) {
    display: none;
}

.gsf-mgvh-vehicle-loader-wrapper.skeleton-loader {
    width: 100%;
}

.gsf-mgvh-counter-wrapper {
    display: none;
}
.gsf-mgvh-main-parent-wrapper ul.slick-dots {
  position: unset;
  margin-top: 15px;
}


span.gsf-mgvh-vehicle-name{
  font-size: 16px;
}
.gsf-mgvh-vehicle-info{
  font-size: 12px;
}
.featured-products-main-wrapper ul.slick-dots {
    position: unset;
    margin-top: 15px;
}

}




@media (max-width: 600px){
	.gsf-homepage-popular-brand-image-wrapper {
    width: auto;
    padding: 10px 0;
}
.gsf-homepage-section-title{
	font-size: 18px;
}
}